@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

.parent {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  height: 100%;
}

.nav {
  width: 15%;
  border: 1px solid #ccc;
}

.content {
  background: #ddd;
  width: 85%;
  padding: 5px 10px;
}